<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595034267725-kerq4df395b9qq148lj05o6v80t5ce0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595034267725-kerq4df395b9qq148lj05o6v80t5ce0f</string>
	<key>API_KEY</key>
	<string>AIzaSyBOm4FHfqkzWF6Cd5GM9VuOfdYF6y3B4v4</string>
	<key>GCM_SENDER_ID</key>
	<string>595034267725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>appledeveloperacademy.ChadasCinco</string>
	<key>PROJECT_ID</key>
	<string>chadas5-appledeveloperacademy</string>
	<key>STORAGE_BUCKET</key>
	<string>chadas5-appledeveloperacademy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595034267725:ios:d50b66e4bd07e567</string>
	<key>DATABASE_URL</key>
	<string>https://chadas5-appledeveloperacademy.firebaseio.com</string>
</dict>
</plist>